body {
	margin: 0;
}

header {
	border-bottom: 1px black solid;
	text-align: center;
}

header h1 {
	text-indent: -999px;
	margin: 0;
	font-size: 0;
	text-align: center;
}

header h1 img {
	display: block;
	padding-right: 10px;
	padding-left: 10px;
}

header h1,
header nav {
	display: inline-block;
	vertical-align: middle;
}

header nav ul {
	list-style: none;
	margin: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: black;
	text-decoration: none;
	padding: 20px;
	display: block;
}

nav ul li a:hover {
	color: white;
	background: gray;
	border-radius: 15px;
	border: 1px black solid;
}

section img {
	display: block;
	margin: 0 auto;
}

section,
aside {
	display: inline-block;
	vertical-align: top;
}

main {
	text-align: center;
}